// #region font-family
$fontFamily: "Roboto", sans-serif;
$fontColor: #fff;
// #endregion font-family

// #region palete
$gainsboro: #d8dbe2ff;
$light-steel-blue: #a9bcd0ff;
$cadet-blue: #58a4b0ff;
$charcoal: #373f51ff;
$eerie-black: #1b1b1eff;
// #endregion palete

// #region colors
$backgroundColor: $gainsboro;
$explorerBackgroundColor: $eerie-black;
$contextMenuBackgroundColor: $gainsboro;
$contextMenuColor: $charcoal;
$contextMenuHoverColor: $eerie-black;
$contextMenuHoverItem: $cadet-blue;
$previewBackgroundColor: $light-steel-blue;
$previewIconHover: $charcoal;
$previewIconHoverColor: $light-steel-blue;
$previewCloserBackground: $cadet-blue;
// #endregion colors

// #region icons
$iconPading: 0 5px 0 0;
// #endregion icons
// #region z-index
$maxZIndez: 9999;
// #endregion z-indez
