@import "./scss/variables.scss";
@import-normalize;

.app {
  font-size: 1em;
  font-family: $fontFamily;
  &__container {
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    &--wrapper {
      background: $backgroundColor;
      padding: 20px;
      margin: 50px;
      min-width: 220px;
      min-height: 500px;
      transition: 1s;
      overflow: auto;
      width: 30vw;
      height: 70vw;
      max-width: 80vh;
      max-height: 80vh;
      position: relative;
      border-radius: 10px;
      color: $fontColor;
    }
    &__header {
      font-size: 2em;
      font-weight: bolder;
      padding-bottom: 1em;
    }
  }
}
